<h2>Configuration</h2>

<form>

  <fieldset>
    <label for="host">Host</label>
    {{input value=host}}
  </fieldset>

  <h3>Builds</h3>

  {{input value=buildFilter}}

  {{#each filteredProjects}}
    <article class="project">
      <h4>{{name}}</h4>
      <ul>
        {{#each builds}}
          <li {{action 'toggleBuildSelection' this}}>{{name}}</li>
        {{/each}}
      </ul>
    </article class="project">
  {{/each}}

  <button {{action 'save'}}>Save</button>

</form>
