<h3>Host</h3>
{{input value=host}}

<h3>
  Runners
  <a href="#" class="toggle-collapse-selected" {{action 'toggleCollapseSelectedRunners'}}>
    <i {{bind-attr class="collapseSelectedRunners:fa-caret-down:fa-caret-up :fa"}}></i>
  </a>
</h3>

{{#if hasSelectedRunners}}
  <ul {{bind-attr class="collapseSelectedRunners:collapsed :selected-builds"}}>
    {{#sortable-list tagName="ul" class="selected-builds" itemTag="li" items=selectedRunners onUpdate="didSortSelectedRunners"}}
      <li {{bind-attr data-id=id class=type}}>
        <span class="project-name">{{projectName}}</span>
        <span class="name">{{name}}</span>
        <span class="project-annotation">(project)</span>
        <a href="#" {{action 'removeSelectedRunner' this}}>
          <i class="fa fa-times"></i>
        </a>
      </li>
    {{/sortable-list}}
  </ul>
{{else}}
  <p class="no-selected-builds">
    Select builds below <i class="fa fa-arrow-down"></i>
  </p>
{{/if}}

<fieldset class="build-filter">
  <i class="fa fa-search"></i>
  {{input value=runnerFilter}}
</fieldset>

<div class="available-projects">
  {{#each runners}}
    <article>
      <h4 {{action 'addSelectedProject' this}}>{{name}}</h4>
      <ul class="available-builds">
        {{#each builds}}
          <li {{action 'addSelectedBuild' this}}>{{name}}</li>
        {{/each}}
      </ul>
    </article class="project">
  {{else}}
    <p>No builds found</p>
  {{/each}}
</div>

<button class="save" {{action 'save'}}>Save</button>

{{#if hasErrors}}
  <section class="errors">
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <button class="clear-errors" {{action 'clearErrors'}}>
      OK
    </button>
  </section>
{{/if}}
